name: CI

on: 
  push:
  pull_request:
  workflow_dispatch: {}
  schedule:
    - cron: "0 2 * * *"
jobs:

  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@main
    - name: Update Rust
      run: |
        rustup self update
        rustup update stable
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
